.row {
  @mixin clearfix;
  box-sizing: border-box;

  &--top-padding {
    padding-top: 80px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }


  @mixin atMedium {

    &--gutters {
      box-sizing: border-box;
      margin-right: -65px;
    }
  
    &--gutters > div {
      box-sizing: border-box;
      padding-right: 65px;
    }

    &--gutters-small {
      box-sizing: border-box;
      margin-right: -45px;
    }
  
    &--gutters-small > div {
      box-sizing: border-box;
      margin-right: 45px;
    }

    &--gutters-large {
      box-sizing: border-box;
      margin-right: -100px;
    }
  
    &--gutters-large > div {
      box-sizing: border-box;
      padding-right: 100px;
    }

    &__medium-4 {
      box-sizing: border-box;
      float: left;
      width: 33.33%;
    }

    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }
  
    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 62%;
    }
 
  }

  @mixin atLarge {

    &--gutters {
      box-sizing: border-box;
      margin-right: -65px;
    }
  
    &--gutters > div {
      box-sizing: border-box;
      padding-right: 65px;
    }

    &--gutters-small {
      box-sizing: border-box;
      margin-right: -45px;
    }
  
    &--gutters-small > div {
      box-sizing: border-box;
      margin-right: 45px;
    }

    &--gutters-large {
      box-sizing: border-box;
      margin-right: -100px;
    }
  
    &--gutters-large > div {
      box-sizing: border-box;
      padding-right: 100px;
    }

    &__large-4 {
      box-sizing: border-box;
      float: left;
      width: 33.33%;
    }

    &__b-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }
  
    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 62%;
    }
 
  }

  /* Begin equal height rules  */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }
     & > div{
      float: none;
      display: flex;
    }
  }

  /* Begin equal height rules  */
  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }
     & > div{
      float: none;
      display: flex;
    }
  }

}
